@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CSS Start */
:root {
  background: url("https://images.unsplash.com/photo-1706941246318-11a186adcfda?q=100&w=1920&auto=format&fit=crop")
    center center / cover no-repeat fixed;
  overflow: hidden;
  user-select: none;

  --background: 0, 0%, 12%;
  --foreground: #f0f0f0;
  --border: #3a3a3a;
  --primary: #009688;
  --secondary: #009688;
  --accent: #009688;
}

.light {
  --background: 0, 0%, 85%;
  --foreground: #1e1e1e;
  --border: #3a3a3a;
  --primary: #009688;
  --secondary: #009688;
  --accent: #009688;
}

.yesblur {
  backdrop-filter: blur(24px);
  background-color: hsla(var(--background), 0.85);
}

.noblur {
  backdrop-filter: unset;
  background-color: hsla(var(--background), 1);
}
